    *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:black;
    font-family:Poppins,sans-serif;
}

canvas{
    display:block;
}

#ui{
    position:absolute;
    bottom:40px;
    width:100%;
    display:flex;
    justify-content:center;
    gap:20px;
    z-index:10;
}

button{
    padding:12px 24px;
    border:none;
    border-radius:999px;
    background:#ffffff;
    color:#111;
    font-size:15px;
    font-weight:500;
    cursor:pointer;
    font-family:Poppins, sans-serif;
}

button:hover{
    background:#ffffff;
}


#factCard{

    position:absolute;

    top:70px;

    left:50%;

    transform:translateX(-50%);

    width:360px;

    padding:20px;

    border-radius:20px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.15);

    color:white;

    z-index:100;

}

#animalName{

    margin-bottom:12px;

    font-size:28px;

}

#animalFact{

    line-height:1.6;

    color:#ddd;

    font-size:16px;

}